@model IEnumerable<MoveOn.Domain.Servico>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MoveON - Clientes</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/estilo.css")" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_MenuApplication")

    <div class="col-md-12">

        <table class="table table-striped">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    Informações
                </th>
                <th>
                    Ações
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfoAdicional)
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Editar", "Detalhes", new { id = item.Id })</button>
                    </td>
                </tr>
            }

        </table>
        <button type="button" class="btn btn-primary btn-position">@Html.ActionLink("Novo", "Criar")</button>
    </div>
</body>
</html>
